# Secrets
.env
**/.env
**/credentials.json
**/token.json

# Python
**/__pycache__/
**/venv/
*.pyc

# Node
**/node_modules/
**/dist/
**/build/

# Database
**/*.db

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
