bleach
cachetools
feedparser
flask
flask-caching
flask-compress
flask-cors
google-api-python-client
google-auth-oauthlib
google-generativeai
gunicorn
networkx
numpy
openai
python-dotenv
requests
scipy
thefuzz
