flask
gunicorn
google-generativeai==0.8.6
python-dotenv
networkx
cachetools
scipy
numpy
Flask-Compress
Flask-Caching
flask-cors
requests
feedparser
google-auth-oauthlib
openai
thefuzz
google-api-python-client
beautifulsoup4
