Flask==3.1.2
Flask-CORS==6.0.1
feedparser==6.0.10
requests==2.32.5
google-auth==2.43.0
google-auth-oauthlib
google-auth-httplib2==0.2.1
google-api-python-client==2.187.0
google-generativeai==0.8.5
python-dotenv==1.2.1
networkx
scipy
numpy
thefuzz
